@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #ae3df7;
  --color-brand-background: #f8fafc;
  --color-brand-border: #e2e8f0;
  --color-brand-text-main: #0f172a;
  --color-brand-text-muted: #64748b;

  --color-profile-accent: #ae3df7;
  --color-profile-brown: #ae3df7;
  --color-profile-surface: #fbf6ff;
}

@layer base {
  body {
    @apply bg-brand-background text-brand-text-main font-sans;
  }
}
